<!DOCTYPE html>
<html lang="uk"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title>Список товарів</title>
</head>
<body>
<div layout:fragment="content" class="flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-6 text-green-700">Список товарів</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <div th:each="product : ${products}"
             th:replace="components/product-card :: productCard(${product})"></div>
    </div>
</div>
</body>
</html>
